html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

body {
  background-color: #F1F2EB;
}

.flex-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.round-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #566246;
  color: white;
  width: 300px;
  height: 250px;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 24px 0px #0000004b;
  position: relative;
  opacity: 1;
}
.offset {
  position: relative;
  left: 10%;
  transition: left 1s ease;
}

.out {
  opacity: 0;
}

.in {
  opacity: 1;
}
.red{
  background-color: #9f0000;
}