.fg-header-img {
  width: 350px;
}
.fg-display-1 {
  margin:0;
  font-size: 5rem;
  line-height: 1;
}
pre {
  background-color: #282C34;
  color:white;
  padding:1rem;
}

.color-1 {
  background-color: #DCE2E5;
  border: 1px solid #95A7B2;
  border-radius:3px;
  padding: 16px 12px
}
.code--html {
  color: #499CD6;
}
.code--html--class {
  color: #34b302;
}
