/* 
* 320px — 480px: Mobile devices
* 481px — 768px: iPads, Tablets
* 769px — 1024px: Small screens, laptops
* 1025px — 1200px: Desktops, large screens
* 1201px and more —  Extra large screens, TV 
*/
/* little reset */

ul {
  margin:0;
}
@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Regular.ttf);
}

/* * {
  border: 1px solid black;
} */
html {
  font-size: 16px;
  font-family: 'Open Sans';
}

.flex-row {
  border: 1px solid black;
  display: flex;
  margin: 0 auto;
  /* align-items: center; */
}

.flex-row>.flex-item {
  flex-grow: 1;
}


@media only screen and (min-width: 1201px) {
  .flex-row {
    max-width: 1400px;
    width: 100%;
  }
} 

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .flex-row {
    max-width: 1200px;
    width: 100%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .flex-row {
    max-width: 1024px;
    width: 100%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .flex-row {
    max-width: 768px;
    width: 100%;
    flex-direction: column;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
  .flex-row {
    max-width: 480px;
    width: 100%;
    flex-direction: column;
  }
}